.first-step{
    background-color: gainsboro;
    height: 250px;
}.img{
    display: inline-block;
    float:right;
    padding: 1em;
}
.button{
    padding-top: 1em;
    align-items: center;
    text-align: center;
}
img{
    height: 150px;
    float: right;
    border-radius: 50%;
    padding-bottom: 15px;
}
.modal-footer{
    justify-content: flex-start;
}

h1{
    padding-top: 1em;
}
.row * {
    padding-top: 1em;
}